.row {
    display: flex;
    column-gap: 30px;

    margin-top: 50px;
}
.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 13px;
    overflow-y: scroll;
    max-height: 68vh;
}
.items::-webkit-scrollbar {
    display: none;
}
.title {
    color: #617d98;
}


@media (max-width: 850px){
    .row{
        flex-direction: column;
        row-gap: 40px;
    }
}