.column{
    display: flex;
    flex-direction: column;

    flex: 0 0 10%;
}
.input{
    padding: 6px 6px 6px 10px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #f1f5f8;
    color: #757575;
}
.companies{
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: #000;
}
.list{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.unactive{
    color: #617d98;
    font-size: 16px;
    cursor: pointer;
}
.unactive:hover{
    text-decoration: underline;
}
.price{
    color: #617d98;
}
.range{
    cursor: pointer;
}
.active{
    color: #000;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}