.busket {
    width: 300px;
    background-color: #f1f5f8;
    min-height: 100%;

    position: absolute;
    top: 0;
    right: -300px;

    transition: 0.3s;
}
.active{
    width: 300px;
    background-color: #f1f5f8;
    min-height: 100%;

    position: absolute;
    top: 0;
    right: 0px;

    transition: 0.3s;
}