.post{
    margin-top: 100px;
}
.slash {
    color: #ba5d2c;
    margin-right: 15px;
}
.post .slash, .post h1 {
    font-size: 62px;
}
.title{
    color: #112942;
}
.text{
    color: #617d98;
    width: 50%;
    margin: 50px auto 0;
    line-height: 30px;    
}
