.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    width: 120px;
    height: auto;
}
.row {
    display: flex;
    align-items: center;
}
.container {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}