.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}
.image {
    width: 120px;
    height: auto;

    fill: #fff;
}
.logo {
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
}
.container {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    position: relative;
}
.container img {
    cursor: pointer;
}
.circle {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 13px;
    color: white;
}

@media (max-width: 850px) {
    .header {
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .basket {
        order: 1;
    }
    .container {
        width: unset;
    }
    .logo {
        flex: 0 0 100%;
        order: 2;
        text-align: center;
    }
}
