.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    width: 120px;
    height: auto;

    fill: #fff;
}
.logo {
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
}
.container {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    position: relative;
}
.container img {
    cursor: pointer;
}
.circle {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 13px;
    color: white;
}
.basket{
    /* color: white; */
}


@media (max-width: 670px) {
    /* .header {
        flex-direction: column;
        justify-content: space-between;
    }
    .image {
    }
    .container {
        flex: 0 0 50%;
    } */
}
