.item {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 15px;
}
.imgContainer img {
    max-height: 100px;
    max-width: 50px;
    object-fit: contain;
    background-color: white;
    border: 1px solid #000;
    border-radius: 9px;
}
.row {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.infoColumn {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.title {
    color: #112942;
}
.price {
    color: #324d67;
}
.button {
    color: #617d98;
    cursor: pointer;
}
.button:hover {
    text-decoration: underline;
}
.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.down {
    transform: rotate(180deg);
    cursor: pointer;
}
.up {
    cursor: pointer;
}
