.container {
    max-width: 2380px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    overflow-x: hidden;
    position: relative;
}
.pages{
    flex: 1 1 auto;
}
.blackBackGround{
    position: absolute;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
}
.overflowHidden{
    overflow: hidden;
    max-height: 100vh;
}